html {
  box-sizing: border-box;
  font-family: "Asap Condensed", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem,fr1));
}
